<html>
    <body>
        <form id="name_form">
            <label>Nome:</label><input type="text" name="_first_name"/>
            <br/>
            <label>Time:</label><input type="text" name="_last_name"/>
            <br/>
            <!-- <label>Posicao:</label><input type="text" name="_posicao"/>
            <br/> -->
            <select class="form-select" multiple aria-label="multiple select example" name="_posicao">
                <option selected>Posicao</option>
                <option value="Atacante">Atacante</option>
                <option value="Meio-Campo">Meio-Campo</option>
                <option value="Zagueiro">Zagueiro</option>
              </select>
            <input type="button" value="enviar" id="envio" name="envio" />
        </form>
        <input type="text" id="resp" name="resp" size="50" /> 

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script type="text/javascript">
            $('#envio').click(function(e) {
                    e.preventDefault();

                    if($('[name=_first_name]').val().length == 0){
                        $('#resp').val('campo primeiro nome deve ser preenchido');
                        return;
                    }

                    $.ajax({
                        type: 'POST',
                        url: '/serializar',
                        data: $('form').serialize(),
                        success: function(callback) {
                            console.log(callback);
                            $('#resp').val('Nome: ' + callback._first_name + ' Time: ' + callback._last_name + ' Posicao: ' + callback._posicao);
                            $('[name=_first_name]').val('');
                            $('[name=_last_name]').val('');
                            $('[name=_posicao]').val('');
                        },
                        error: function() {
                            $(this).html("error!");
                        }
                    });
                });
        </script>
    </body>
</html>